/* == General  == */

* {
     box-sizing: border-box;
     scroll-behavior: smooth;
}

/* == Header  == */

.header {
     background-color: rgba(247, 239, 239, 0.87);
     padding-bottom: 25px;
     padding-top: 25px;
}

.top-content {
     width: 90%;
     margin: 0 auto;
     text-align: center;
}

.name {
     margin-top: 0;
}

.main-nav {
     display: block;
     padding-left: 0%;
}

.navbar-element-1 {
    list-style-type: none;
    background-color: white;
    margin: 5px auto;
    padding: 10px;
}

.navbar-element-2 {
     list-style-type: none;
     background-color: white;
     margin: 5px auto;
     padding: 10px;
}

.navbar-element-3 {
     list-style-type: none;
     background-color: white;
     margin: 5px auto;
     padding: 10px;
}

.nav-link-1 {
     text-decoration: none;
     color: black;
}

.nav-link-2 {
     text-decoration: none;
     color: black;
}

.nav-link-3 {
     text-decoration: none;
     color: black;
}

.profile-img {
     max-width: 80%;
     margin-bottom: 15px;
     margin-top: 25px;
}

.bio p {
     letter-spacing: 0.1rem;
}

/* == Main Content  == */

.main-content {
     width: 90%;
     margin: 0 auto;
     text-align: center;
}

.projects img {
     max-width: 100%;
}

/* == Footer  == */

.main-footer {
     background-color: rgba(247, 239, 239, 0.87);
     margin-bottom: 20px;
     padding-top: 20px;
     padding-bottom: 20px;
     margin-top: 50px;
}

.general-info {
     width: 90%;
     margin: 0 auto;
     text-align: center;

}

/* == Bottom Nav  == */

.bottom-nav {
     border-top: solid rgba(247, 239, 239, 0.87);
     margin-top: 50px;
}

.bot-name {
     float: left;
}

.footer-link {
     float: right;
     text-decoration: none;
     color: black;
}

/* == Media Queries  == */

@media (min-width: 768px) {

     /* == Header  == */
     .main-nav li {
          display: inline-block;
     }
     .navbar-element-1 {
          background-color: rgba(247, 239, 239, 0.87);
     }
     .navbar-element-2 {
          background-color: rgba(247, 239, 239, 0.87);
     }
     .navbar-element-3 {
          background-color: rgba(247, 239, 239, 0.87);
     }
    .bio {
          display: inline-block;
    }
     .bio img {
          width: 40%;
          float: right;     
     }
     .bio p {
          width: 60%;
          margin-top: 30px;
          padding-right: 30px;
          letter-spacing: 0.12rem;
          
     }

     /* == Main Content  == */
     .first-row,
     .second-row
     .third-row {
          display: inline-block;
     }
     .project-1 {
          width: 49%;
          float: left;
     }
     .project-2 {
          width: 49%;
          float: right;
     }
     .project-3 {
          width: 49%;
          float: left;
     }
     .project-4 {
          width: 49%;
          float: right;
     }
     .project-5 {
          width: 49%;
          float: left;
     }
     .project-6 {
          width: 49%;
          float: right;
     }
}


@media (min-width: 1024px) {
     


}

.clearfix::after {
     content: " ";
     display: table;
     clear: both;
}